#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#random-fact-container{
  color:blue;
}
.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
}


